include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE.md
include README.rst
include requirements_test.txt
include requirements.txt
recursive-include admin_toolkit *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
